table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
input[type=text] {
    background-color: #3CBC8D;
    color: white;
  }
  body {
	background: #F3F3F3;
    height: 900;
}
.ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #17a2b8 !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #17a2b8 !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }
